<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Global CRM</title>
  <style>
    .lead {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 6px;
      padding-right: 6px;
      margin-top: 10px;
      background-color: #f6f6f6;
      width: 100%;
    }
  </style>
</head>
<body>
  <h1>Global CRM Lead List</h1>
  <a href="{% url 'leads:lead-list' %}">Go back</a>
  <hr>
  <p>Create a new Lead</p>
    <div class="lead">
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>