{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" >
  <title>Global CRM</title>
  
</head>
<body>
  {% include "navbar.html" %}

<div class="max-w-4xl mx-auto">
  {% block content %}
    
  {% endblock content %}
</div>

  {% include "scripts.html" %}
</body>
</html>